@model DevExpress.DashboardCommon.DashboardState
<div style="position: absolute; left:0;top:0;right:0;bottom:0;">
    @(Html.DevExpress().Dashboard("clientDashboardDesigner1")
        .ControllerName("DefaultDashboard")
        .Width("100%")
        .Height("100%")
        .WorkingMode(WorkingMode.Viewer)
        .InitialDashboardState(Model.SaveToJson())
        .Extensions(extension => extension.UrlState(state => state.IncludeDashboardStateToUrl(true)))
    )
</div>